.loginSection {
	/* height: 100vh; */
	position: fixed;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	justify-content: center;
	align-items: center;
}

.loginInputs {
	margin: 5px;
	padding: 0.5rem;
	font-size: 1rem;
	/* background: white; */
	width: 100%;
}

.loginInputs input {
	width: 80%;
}

.loginButton {
	color: white;
	background-color: #4caf50;
	border: none;
	padding: 10px;
	text-align: center;
	font-size: 1rem;
	margin-top: 5px;
	width: 100%;
}

.loginButton:hover {
	background-color: white;
	border: none;
	color: #4caf50;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

@media (min-width: 720px) {
	/* large */

	.loginSection {
		margin-top: 5%;
		margin-left: 40%;
		margin-right: 40%;
	}

	.loginInputs input {
		margin: 5px;
		padding: 0.5rem;
		font-size: 1.5rem;
		border: none;
		background: white;
	}

	.loginButton {
		background-color: #4caf50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		width: 100%;
	}
}
