.App {
	text-align: center;
	align-items: center;
	justify-content: center;
}

body {
	background-image: linear-gradient(120deg, #fde492, #fda085);
	color: rgb(0, 0, 0);
	min-height: 100vh;
}

img {
	margin-top: 3rem;
}

.searchSection {
	margin: 5px;
}

.searchInput {
	font-size: 10px;
}

.select_searchType {
	margin-top: 25px;
	padding: 0.5rem;
	font-size: 1rem;
}

/* input {
	margin: 5px;
	padding: 0.5rem;
	font-size: 1.5rem;
	border: none;
	background: white;
} */

.loginStatus {
	color: red;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.divTable {
	/* text-align: center;
	align-items: center;
	justify-content: center;
	display: flex; */
	margin: 10px;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding: 1px;
	text-align: left;
	font-size: 10px;
	/* word-wrap: break-word; */
	word-break: break-all;
}

th {
	font-size: 10px;
}

header,
form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input {
	padding: 0.5rem;
	font-size: 1rem;
	margin: 0.2rem;
	background: white;
}

form button {
	color: #d88771;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover {
	background: #d88771;
	color: white;
}

.mainTitle {
	font-family: Teko;
	font-size: 30px;
	margin: 0px;
}

.subTitle {
	color: rgb(36, 42, 79);
	font-weight: bold;
}

h3 {
	margin: 0px;
	font-size: 12px;
}

.td-icon {
	text-align: center;
}

.trash-btn {
	background: #dd0000;
	color: white;
	border: none;
	/* padding: 0.1rem; */
	cursor: pointer;
	font-size: 0.1rem;
}

.trash-btn:hover {
	background: white;
	color: #ff0000;
	border: none;
	/* padding: 0.5rem; */
	cursor: pointer;
	font-size: 1rem;
}

.decrement-btn {
	background: #dd0000;
	color: white;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.decrement-btn:hover {
	background: white;
	color: #ff0000;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.increment-btn {
	background: green;
	color: white;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.increment-btn:hover {
	background: white;
	color: green;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.update-btn {
	background: black;
	color: white;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.update-btn:hover {
	background: white;
	color: black;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.info-btn {
	background: none;
	color: rgb(0, 4, 255);
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.info-btn:hover {
	background: none;
	color: #ff0000;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

/* Make icons unclickable */
.fa-trash,
.fa-check {
	pointer-events: none;
}

.Listing {
	text-align: center;
	align-items: center;
	justify-content: center;
}

.nav {
	margin: 0%;
	display: flex;
	justify-content: flex-end;
}

.username {
	margin: 0%;
	display: flex;
	justify-content: flex-end;
}

.black-btn {
	background: transparent;
	color: #000000;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 2rem;
	/* align-items:flex-end; */
	justify-content: flex-end;
}

/* STYLING FOR MOBILE DEVICES */

@media (min-width: 720px) {
	/* large */

	.mainTitle {
		font-size: 100px;
	}

	h3 {
		font-size: 28px;
	}

	.searchInput {
		font-size: 25px;
	}

	.divTable {
		text-align: center;
		align-items: center;
		justify-content: center;
		display: flex;
		margin-top: 20px;
		padding: 10px;
	}

	table {
		border: 1px solid #ccc;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		/* table-layout: fixed; */
	}

	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 5px;
		text-align: left;
		font-size: 16px;
		word-break: break-all;
	}

	header,
	form {
		min-height: 10vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	form input,
	form button {
		padding: 0.5rem;
		font-size: 1rem;
		/* border: none; */
		background: white;
	}

	form input {
		margin: 0.2rem;
	}

	form button {
		color: #d88771;
		background: white;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	form button:hover {
		background: #d88771;
		color: white;
	}

	.trash-btn {
		background: #dd0000;
		color: white;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}

	.trash-btn:hover {
		background: white;
		color: #ff0000;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}

	.decrement-btn {
		background: #dd0000;
		color: white;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}

	.decrement-btn:hover {
		background: white;
		color: #ff0000;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}

	.increment-btn {
		background: green;
		color: white;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}

	.increment-btn:hover {
		background: white;
		color: green;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}

	.update-btn {
		background: black;
		color: white;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}

	.update-btn:hover {
		background: white;
		color: black;
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		font-size: 1rem;
	}
}
